---
import Layout from '../layouts/Layout.astro';
import Calculator from '../components/Calculator.svelte'
---

<Layout title="Mana For All!">
	<main>
		<h1>Mana For All</h1>

		<Calculator client:load/>

	</main>
</Layout>

