---
import Layout from '../layouts/Layout.astro';
import Calculator from '../components/Calculator.svelte'
---

<Layout title="Mana For All!">
	<main>
		<h1>Mana For All</h1>
		<p>Count the number of each color you have and put them in the input boxes</p>
		<Calculator client:load/>
		<pre>
			<code>
				todo:
				- [ ] calculate the ratio of mana to total Mana
				- [ ] update the deck to handle the ratio
				- [ ] calculate the number of Lands from ratio
			</code>
		</pre>
	</main>
</Layout>

