---
import Layout from '../layouts/Layout.astro';
import Calculator from '../components/Calculator.svelte'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Mana For All</h1>

		<Calculator/>
	</main>
</Layout>

